<section class="section-company font-comfortaa bg-main-radial">

         
         
  <div class="max-w-7xl mx-auto">
    <h2 appScrollReveal class=" heading font-heading bg-gold-gradient border-brand/30">
      {{ 'company.title_1' | translate }}
    </h2>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
      
      <div class="flex flex-col">

        <div class=" border-b border-brand/30 mb-2">
           <h3 appScrollReveal class=" heading_2 font-heading bg-gold-gradient ">
              {{ 'company.title_2' | translate }}
           </h3>
        </div>

        
        
        <article class="flex items-start gap-4 py-8 border-b border-brand/30">
          <span class="font-heading bg-gold-gradient bg-clip-text text-transparent text-lg md:text-xl pt-1">01</span>
          <p appScrollReveal class="article_1 text-gray-300">
            {{ 'company.article_1' | translate }}
          </p>
        </article>

        <article class="flex items-start gap-4 py-8 border-b border-brand/30">
          <span class="font-heading bg-gold-gradient bg-clip-text text-transparent text-lg md:text-xl pt-1">02</span>
          <p appScrollReveal class="article_2 text-gray-300">
            {{ 'company.article_2' | translate }}
          </p>
        </article>

        <article class="flex items-start gap-4 py-8 border-b border-brand/30">
          <span class="font-heading bg-gold-gradient bg-clip-text text-transparent text-lg md:text-xl pt-1">03</span>
          <p appScrollReveal class="article_3 text-gray-300">
            {{ 'company.article_3' | translate }}
          </p>
        </article>

      </div>

      <aside class="capsule">
        <model-viewer
          aria-label="Coffee capsule"
          src="image/Gold Open.glb"
          alt="3D Coffee Capsule Model"
          auto-rotate 
          camera-controls 
          disable-zoom
          interaction-prompt="none"
          shadow-intensity="1" 
          environment-image="neutral"
          exposure="0.7"
          class="w-full h-[300px] md:h-[600px] md:max-w-[70%] lg:max-w-[70%] outline-none -mb-10"
          style="background-color: transparent;">
        </model-viewer>
      </aside>

    </div>
  </div>
</section>