<footer aria-label="Footer" class="relative -mt-[101px] z-30 w-full bg-transparent font-comfortaa">
  <div class=" w-full px-6 py-6
    flex flex-row items-center justify-between gap-4 flex-nowrap
    md:h-[101px] md:px-12 md:py-0">

    <!-- Logo -->
    <div aria-label="TAMA CAPS logo"
      class="shrink-0 flex items-center justify-center md:justify-self-start">
      <img src="tama-caps-logo.png" alt="TAMA CAPS"
        class="w-[72px] h-16 object-cover" />
    </div>

    <!-- Contact Info -->
    <div class="shrink-0 flex flex-col items-end gap-0.5 text-brand text-footer-ink text-[11px] leading-normal font-bold text-right">
      <p>TAMA CAPS, Ltd</p>
      <p>{{ 'contacts.address' | translate }}</p>
      <p>{{ 'contacts.email' | translate }}</p>
      <!-- <p>+XX XXX XX XX XX</p> -->
    </div>

  </div>
</footer>
