<section attr.aria-label="{{ 'ariaLabel.contacts' | translate }}"
  class="contacts-section relative z-20 w-full bg-main-radial py-16 px-4 min-h-screen
    md:py-24 md:px-8
    xl:py-32 xl:px-16">
  <h2 class="font-heading bg-gold-gradient bg-clip-text text-transparent
           leading-[1.1] overflow-hidden w-full text-left lg:text-center px-6 max-w-none mt-[-10vw] md:mt-[-3vw] min-[1024px]:mt-[-70vw] min-[1280px]:mt-[-15vw] xl:mt-[-2vw]
           mb-10
           whitespace-normal md:whitespace-normal min-[1280px]:whitespace-nowrap text-[6.1vw] 
           md:text-[8vw] 
           lg:text-[40px]
           xl:text-[48px]
           2xl:text-[54px]">
    {{ 'contactsSection.title_1' | translate }}
  </h2>

</section>
