<section class="relative min-h-screen w-full flex flex-col py-20 bg-no-repeat bg-cover bg-center"
         style="background-image: url('/image/product_bg.png');">

  <div class="absolute inset-0 bg-black/70 z-0"></div>

  <div class="relative z-20 w-full">

    <h2 class=" font-heading bg-gold-gradient bg-clip-text text-transparent leading-[1.1] overflow-hidden
           w-full text-left px-6 max-w-none
           mt-[-10vw] md:mt-[-3vw] min-[1024px]:mt-[-70vw] min-[1280px]:mt-[-15vw] xl:mt-[-2vw]
           mb-10
           whitespace-normal md:whitespace-normal min-[1280px]:whitespace-nowrap
           text-[6.1vw] 
           md:text-[8vw] 
           lg:text-[40px]
           xl:text-[48px]
           2xl:text-[54px]">
      Precision in Manufacturing. Quality in Results.
    </h2>
    </div>
    <div class="relative z-10 max-w-6xl mx-auto w-full px-6 md:px-12">

<div class="lg:col-span-8 lg:pl-70 mt-3 md:mt-16 lg:mt-12"> 
  <div class="mb-10">
    <h2 class="font-heading bg-gold-gradient bg-clip-text text-transparent 
               text-[16px]       
               md:text-[37px]    
               lg:text-[35px]   
               xl:text-[30px]    
               leading-[1.1] uppercase tracking-wider">
      How we make it
    </h2>
    
    <div class="h-[1px] w-full max-w-[400px] bg-gradient-to-r from-[#BF953F] via-[#FCF6BA] to-transparent mt-3 opacity-80"></div>
  </div>
</div>



<div class="flex flex-col md:flex-row items-start gap-8 lg:gap-12 mb-16">

    <div class="flex-1">
      <h4 class="text-white text-xl md:text-2xl font-medium mb-5 tracking-wide">
        European equipment
      </h4>
      <p class="text-gray-300 text-base md:text-lg leading-[1.8] font-light">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa beatae deleniti ipsum tempora alias maiores excepturi consectetur architecto earum, esse animi! Aliquid, doloremque quae. Porro nisi sint numquam eligendi obcaecati!
      </p>
    </div>
  </div>

<div class=" w-full h-[1px] bg-gradient-to-r from-gold/30 via-gold/10 to-transparent mb-14"></div>

<div class="mb-14 relative ">
  <h4 class="font-['Comfortaa'] text-white text-xl md:text-2xl font-medium mb-5 tracking-wide">
    Custom to Your Brand
  </h4>
  
  <div class="flex flex-col xl:flex-row gap-10 items-start">
    <p class="font-['Comfortaa'] text-gray-400 text-base md:text-lg leading-[1.8] max-w-xl font-light">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa beatae deleniti ipsum tempora alias maiores excepturi consectetur architecto earum, esse animi! Aliquid, doloremque quae.
    </p>
    
    <div class="w-full max-w-[300px] xl:absolute xl:-right-10 xl:-bottom-10">
       </div>
  </div>
</div>
      </div>

