<section attr.aria-label="{{ 'ariaLabel.product' | translate }}" class="product-section bg-main-radial"
         >

  <div class="relative z-20 w-full">

    <h2 appScrollReveal class=" font-heading bg-gold-gradient product-title">
      {{ 'product.title_1' | translate }}
    </h2>
    </div>
    <div class="relative z-10 max-w-6xl mx-auto w-full px-6 md:px-12">

<div class="lg:col-span-8 lg:pl-70 mt-3 md:mt-16 lg:mt-12"> 
  <div class="mb-10">
    <h2 appScrollReveal class=" font-heading bg-gold-gradient product-title_2">

      {{ 'product.title_2' | translate }}
    </h2>
    
    <div class="h-[1px] w-full max-w-[400px] bg-gradient-to-r from-[#BF953F] via-[#FCF6BA] to-transparent mt-3 opacity-80"></div>
  </div>
</div>

  <div class="grid grid-cols-1 md:grid-cols-12 gap-x-8 lg:gap-x-12 items-start mb-16 px-6 md:px-0">
  
  <div class="md:col-span-4 lg:col-span-4 md:order-1 order-2 mt-8 md:ml-1 md:mt-0 
              w-[200px] md:w-full mx-auto md:mx-0 shrink-0
              md:-ml-12  lg:-ml-9 lg:-mt-2"> 
              
    <aside class="product-video group">
  <video 
    #productVideo
    class="w-full h-full object-cover"
    muted
    controls
    preload="metadata">
    <source src="video/video_coffee.mp4" type="video/mp4">
    {{ 'product.errorMessage' | translate }}
  </video>
</aside>
  </div>

  <article class="md:col-span-7 md:order-2 order-1 flex-1">
    <h4 appScrollReveal class=" product-article-title1">
      {{ 'product.articleTitle_1' | translate }}
    </h4>
    <p  appScrollReveal class="product-article1">
      {{ 'product.article_1' | translate }}
    </p>
  </article>
</div>

<div class=" w-full h-[1px] bg-gradient-to-r from-[#BF953F] via-gold/10 to-transparent mb-14"></div>

<article class="mb-14 relative ">
  <h4 appScrollReveal class=" product-article-title2">
    {{ 'product.articleTitle_2' | translate }}
  </h4>
  
  <div class="flex flex-col lg:flex-row gap-10 items-start">
    <p appScrollReveal class="product-article2">
      {{ 'product.article_2' | translate }}
    </p>
    
    <aside class="product-capsule">
      <model-viewer 
        [attr.src]="currentModel"
        alt="3D Coffee Capsules"
        auto-rotate 
        camera-controls 
        shadow-intensity="2" 
        exposure="0.5"
        camera-orbit="45deg 75deg auto"
        disable-zoom
        style="width: 100%; height: 100%; background-color: transparent;">
      </model-viewer>
      <div class="absolute bottom-10 left-1/2 -translate-x-1/2 w-1/2 h-4 bg-black/40 blur-xl rounded-[100%]"></div>
       </aside>
  </div>
</article>
      </div>

