<section class="relative h-screen w-full overflow-hidden bg-black flex items-center justify-end bg-no-repeat bg-cover  bg-[20%_center]" 
 style="background-image: url('/image/hero_bg.png');">
  
<div class="absolute inset-0 bg-black/40 z-0"></div>

  <div class="relative z-10 w-full max-w-[1440px] mx-auto px-[5vw] flex flex-col items-end text-right select-none">
    
    <h1 class="font-heading leading-[1.0] tracking-tighter uppercase 
              bg-gold-gradient bg-clip-text text-transparent
               flex flex-col items-end animate-slide-up py-4 px-8">
      <span class="text-[14vw] md:text-[10rem] lg:text-[12rem]">TAMA</span>
      <span class="text-[14vw] md:text-[10rem] lg:text-[11rem] mr-[-2vw] md:mr-[-40px]">CAPS</span>
    </h1>

    <p class="font-accent text-[5vw] md:text-5xl lg:text-8xl bg-gold-gradient bg-clip-text text-transparent py-4 px-8 mt-[4vh] italic animate-fade-in-delay md:mr-5">
      Excellence in Every Capsule
    </p>

  </div>
</section>