<section 
class="relative min-h-screen w-full overflow-hidden bg-black flex items-center justify-end
bg-no-repeat bg-cover bg-[20%_center]
bg-[url('/image/hero_upscayl.avif')]">

<div class="absolute inset-0 bg-black/40 z-0"></div>

<div class="relative z-10 w-full max-w-7xl mx-auto pl-5 pr-0 lg:pl-2 lg:pr-0 sm:mr-[0vw] md:mr-[3vw]  mt-[-9vh] flex flex-col items-end text-right select-none ">

<h1 class="font-heading leading-[1.0] tracking-widest uppercase
bg-gold-gradient bg-clip-text text-transparent
flex flex-col items-end animate-slide-up pb-4 md:py-4 px-8 animate-fade">

<span class="text-[25vw] md:text-[10rem] lg:text-[12rem]">
TAMA
</span>

<span class="text-[20vw] md:text-[10rem] lg:text-[11rem] mr-[-1vw] md:mr-[-12px]">
CAPS
</span>

</h1>

<p class="font-accent text-[7vw] md:text-5xl lg:text-[6.5vw]
bg-gold-gradient bg-clip-text text-transparent
py-4 px-8 mt-[-2vh] italic animate-fade-in-delay md:mr-5 animate-fade">

{{ 'nav.subtitle' | translate }}

</p>

</div>
</section>