<section 
class="hero_bg">

<div class="absolute inset-0 bg-black/40 z-0"></div>

<div class="hero_wrapper">

<h1 class="heading font-heading 
bg-gold-gradient 
 animate-slide-up animate-fade">

<span class="text-[25vw] md:text-[10rem] lg:text-[12rem]">
TAMA
</span>

<span class="text-[20vw] md:text-[10rem] lg:text-[11rem] mr-[-1vw] md:mr-[-12px]">
CAPS
</span>

</h1>

<p class="subtitle font-accent 
bg-gold-gradient 
panimate-fade-in-delay animate-fade">

{{ 'nav.subtitle' | translate }}

</p>

</div>
</section>