/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-comfortaa: 'Comfortaa', sans-serif;
  --font-heading: "Comfortaa", sans-serif; 
  --font-accent: "Caveat", cursive;
  --color-brand: #c9a961;
  --color-brand-light: #e6c77f;
  --color-dark: #2a2a2a;
  --color-gold: #b38e44;
  --background-image-gold-gradient: linear-gradient(180deg, #BD9751 25%, #574625 98%);
}