/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-comfortaa: 'Comfortaa', sans-serif;
  --font-heading: "Comfortaa", sans-serif; 
  --font-accent: "Caveat", cursive;
  --color-brand: #c9a961;
  --color-brand-light: #e6c77f;
  --color-dark: #2a2a2a;
  --color-gold: #b38e44;
  --background-image-gold-gradient: linear-gradient(180deg, #BD9751 25%, #574625 98%);
  --loading-image-gold-gradient: linear-gradient(180deg, #BD9751 25%, #574625 98%);
  --background-image-footer-tint: radial-gradient(ellipse at center, rgba(86, 86, 86, 1) 4.9184%, rgba(61, 61, 60, 1) 41.657%, rgba(36, 36, 34, 1) 78.396%);
}

@utility bg-main-radial {
  background: radial-gradient(circle, #3B3B3B 5%, #101010 78%);
  background-attachment: fixed;
}

/* Стандартный CSS, который будет работать вместе с Tailwind */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fadeInUp 1s ease-out forwards;
}

/* Начальное состояние: элемент невидим и смещен вниз */
.reveal-hidden {
  opacity: 0 !important;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

/* Состояние после активации: элемент всплывает */
.reveal-visible {
  opacity: 1 !important;
  transform: translateY(0);
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-loading-image-gold-gradient {
    background-image: var(--loading-image-gold-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  .text-sectionTitle-linear {
    /* Градиент из трех точек: 30%, (промежуточная), 91% */
    background: linear-gradient(
      88deg, 
      #BD9751 15%, 
      #574625 85% /* добавил промежуточную точку для плавности, так как на скрине их три */

    );
    
    /* Магия обрезки по тексту */
    -webkit-background-clip: text;
    background-clip: text;
    
    /* Делаем сам текст прозрачным, чтобы проявился фон-градиент */
    -webkit-text-fill-color: transparent;
    color: transparent;

    /* Убираем fixed, чтобы градиент «сидел» на буквах и скроллился вместе с ними */
    background-attachment: scroll;
    
    /* Чтобы градиент не дублировался, если заголовок высокий */
    background-repeat: no-repeat;
  }
}





/* Стандартный CSS, который будет работать вместе с Tailwind */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fadeInUp 1s ease-out forwards;
}

/* Начальное состояние: элемент невидим и смещен вниз */
.reveal-hidden {
  opacity: 0 !important;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

/* Состояние после активации: элемент всплывает */
.reveal-visible {
  opacity: 1 !important;
  transform: translateY(0);
}
